* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 253, 244, 1);
}



.section {
    display: flex;
    flex-direction: column;
}

.section_main1 {
    gap: 1.1rem;
    display: flex;
    flex-direction: column;
}

.section_main1-title {
    font-family: "Poppins";
    font-weight: 400;
    color: rgba(55, 70, 57, 1);
    letter-spacing: -0.05em;
    text-align: left;


}

.section_main1-content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(63, 81, 75, 1);
}



.section_main2 {
    display: flex;
    margin-top: 2.5%;
    gap: 23px;
}



.card_content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content1 {
    gap: 6px;
}

.content1_main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content1_main-1 {
    color: #414F42;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem;
    letter-spacing: -0.01em;
    ;
}

.content1_main-2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(63, 81, 75, 1);
}

.content1_foot {
    display: flex;
    gap: 6px;
    align-items: center;
}

.content1_foot-1 {
    font-family: "Poppins";
    text-decoration: line-through;
    font-weight: 400;
    line-height: 18px;
    color: rgba(114, 119, 108, 1);
}

.content1_foot-2 {
    font-family: "Poppins";
    font-weight: 400;
    line-height: 1.4375rem;
}


.content_main {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.content_main-1 {

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: rgba(78, 92, 88, 1);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.content_main-2 {
    color: rgba(78, 92, 88, 1);

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;



}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(236, 237, 236, 1);

}

a {
    text-decoration: none;
    width: 60px;
    height: 15px;
    background-color: aqua;
}

@media (min-width:1500px) {
    .section {
        width: 80%;
        margin: auto;
        margin-top: 2%;
    }

    .section_main1-content {
        font-size: 19px;
        width: 519px;
    }

    .section_main1-title {
        font-size: 45px;
        line-height: 3.75rem;
    }

    .card_image {
        width: 22.8125rem;
        height: 16.625rem;
    }

    .content1_main-1 {
        font-size: 1.36rem;
    }

    .content1_main-2 {
        width: 308px;
        font-size: 17px;
    }

    .content1_foot-1 {
        width: 1.8125rem;
        height: 17px;
        font-size: 13px;
    }

    .content1_foot-2 {
        font-size: 18px;
    }

    .content_main-1 {
        font-size: 15px;
    }

    .content_main-2 {
        width: 155px;
        height: 24px;
        font-size: 14px;
        margin-left: 7%;
    }
}

@media (min-width: 800px) and (max-width: 1499px) {
    .section {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        /* margin-bottom: 1rem; */

    }

    .section_main2 {
        /* display: none; */
    }

    .section_main1-content {
        font-size: 1.5em;
        width: 36.5rem;
    }

    .section_main1-title {
        font-size: 2.8rem;
        line-height: 3.75rem;
    }

    .card_image {
        width: 95%;
        height: 16.625rem;
    }

    .content1_main-1 {
        font-size: 1.36rem;
    }

    .content1_main-2 {
        width: 17.5rem;
        font-size: 0.95rem;
    }

    .content1_foot-1 {
        width: 1.8125rem;
        height: 1.1rem;
        font-size: 11px;
    }

    .content1_foot-2 {
        font-size: 0.95rem;
    }

    .content_main-1 {
        font-size: 0.8125rem;
    }

    .content_main-2 {
        font-size: 1.2rem;
        margin-left: 7%;
    }
}

@media (max-width: 799px) {
    .section {
        width: 90%;
        margin: auto;
        margin-top: 0.8rem;
    }

    .section_main1-content {
        font-size: 1.2em;
        width: 95%;
    }

    .section_main1-title {
        font-size: 2.5em;
        line-height: 3.9rem;
    }

    .card_image {
        width: 100%;
        height: 16.625rem;
    }

    .content1_main-1 {
        font-size: 2em;
    }
  
    .content1_main-2 {
        margin-top: 8px;
        width: 90%;
        font-size: 1.4em;
    }

    .content1_foot-1 {
        width: 1.95rem;
        height: 17px;
        font-size: 15px;
    }
    .content1_foot{
        margin-top: 2px;
    }
    .content1_foot-2 {
        font-size: 1.3em;
    }

    .content_main-1 {
        font-size: 1.6em;
    }

    .content_main-2 {
        font-size: 1.5em;
        margin-left: 27%;
    }

    .section_main2 {
        flex-direction: column;
    }
}